<!doctype html>
<html lang="en">
    <head>
        <title>Narrow Down Your Menu Choice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/styles.css">
        <script src="angular.min.js"></script>
        <script src="modules/manuApp.js"></script>
        <script src="modules/data.js"></script>
    </head>
    <body ng-app="MenuApp">
        <div class="container" ng-controller="NarrowItDownController as query">
            <div class="row">
                <h1>Narrow Down Your Chinese Menu Choice</h1>

                <div class="form-group">
                    <input ng-model="query.phrase" type="text" placeholder="search term" class="form-control">
                </div>
                <div class="form-group narrow-button">
                    <button ng-click="query.doQuery()" class="btn btn-primary">Narrow It Down For Me!</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="radio" name="itemsDisplayedAs" ng-model="query.itemsDisplayedAs" value="list">Display as list</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="radio" name="itemsDisplayedAs" ng-model="query.itemsDisplayedAs" value="table">Display as table</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Bonus loader (see Bonus section of the assignment) -->
                    <items-loader-indicator ng-show="query.loading"></items-loader-indicator>

                    <!-- found-items should be implemented as a component -->
                    <found-items found-items="query.found" on-remove="query.remove(index)" ng-if="query.itemsDisplayedAs == 'list' && !query.loading && query.isInitiated"></found-items>
                    <found-items-table found-items="query.found" on-remove="query.remove" ng-if="query.itemsDisplayedAs == 'table' && !query.loading && query.isInitiated"></found-items-table>
                </div>
            </div>

        </div>

    </body>
</html>
