<ol class="list-group" ng-if="foundItems.length != 0">
    <li ng-repeat="item in foundItems" class="list-group-item list-group-item-success">
        <ul class="list-group">
            <li ng-repeat="(key, value) in item" class="list-group-item">
                <b>{{ key }}:</b> {{value}}</li>
        </ul>
        <button ng-click="onRemove({index : $index})" class="btn btn-primary">Don't want this one!</button>
    </li>
</ol>
<div class="notice-message" ng-if="foundItems.length == 0">
    <h4>Nothing found</h4>
</div>
